<h2> Collections </h2>

<h3>Create</h3>
<form action="/collections/collection-create" method="post">
  <div>
  <label>Collection Type:</label>
  <input type="text" name="collectionType"/><br />
  </div>
  <div>
  <label>Collection Name:</label>
  <input type="text" name="collectionName"/><br />
  </div>
  <div>
  <input type="submit" value="Submit"/>
</form>

<h3>Search</h3>

<form action="/collections/" method="get">
  <div>
  <label>Collection Type:</label>
  <input type="text" name="collection-type" />
  </div>  

  <div>
  <label>Collection Name:</label>
  <input type="text" name="collection-name" />
  </div>  

  <div>
  <input type="submit" value="Search" />
  </div>
</form>
