<h2> Collections </h2>

<a href="/collections/new">Create new collection</a>

<h3>Search</h3>

<form action="/collections/" method="get">
  <div>
  <input type="text" name="collection-type" />
  </div>  

  <div>
  <input type="submit" value="Search" />
  </div>
</form>

<h3>Browse</h3>

<ul>
  <% @collections.each do |collection| %>
    <li>
      <a href="/collections/<%= collection.id %>">
        <%= collection.name %>
      </a>
    </li>
  <% end %>
</ul>
