<h2> Collections </h2>

<form action="/collections/" method="get" class="flex flex-row py-4">
    <div class="basis-1/2">
      <input type="text" name="search" placeholder="Search..." />
    </div>
    <div class="basis-1/4">
      <input type="submit" value="Search" class="hidden" />
    </div>
    <div class="basis-1/4">
      <a href="/collections/new"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Create new collection</a>
    </div>
</form>

<% table_headers = ["Collection Name", user_signed_in? ? "Collecting State" : nil , "# Items", "Category"].compact %>

<%= render "table", table_headers: table_headers do %>
  <%= render partial: "collection", collection: @collections %>
<% end %>
