<h1><%= @collection.name %></h1>

<a href="/collections/<%= @collection.id %>/edit">edit</a>

<h3>Items</h3>

<ul>
<% @collection.items.each do |item| %>
  <li><a href="/collection_items/<%= item.id %>"><%= item.name %></a></li>
<% end %>
</ul>