<table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
  <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <% table_headers.each do |header| %>
      <th class="px-6 py-3"><%= header %></th>
    <% end %>
  </thead>
  <tbody>
    <%= yield "blah" %>
  </tbody>
</table>