<h3>Create a new collection category</h3>
<%= form_with model: @collection_type, class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" do |form| %>
  <%= render "text_field", form: form, field_name: :name, form_obj: @collection_type %>
  <%= render "submit_button", form: form %>
<% end %>