<p>Welcome to collection manager!</p>

<p>Some blurb about how to use it</p>

<h3>Newest Collections</h3>

<% table_headers = ["Collection Name", user_signed_in? ? "Collecting State" : nil , "# Items", "Category"].compact %>

<%= render "table", table_headers: table_headers do %>
  <%= render partial: "collection", collection: @collections %>
<% end %>